@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.Container {
  @apply py-4 mx-32;
}

.Inputs {
  @apply bg-white w-[40pc] focus:outline-0 border-4 border-black rounded-full p-4 text-2xl font-bold;
}

.StartUpCard {
  @apply border-t-4 border-t-black border-l-4 p-5 cursor-pointer hover:bg-[#ee2b6933] border-l-black border-r-8 border-r-black border-b-8 border-b-black rounded-xl hover:border-[#EE2B69] transition-all duration-500;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
